@{
    ViewData["Title"] = "HomePage";
}
@model stin.Models.Klient  

<h1>Toto je vaše Titulní stránka</h1>
<h2>Váš email:</h2>
<p>@ViewBag.klient.Username</p>
<h2>Vaše číslo účtu:</h2>
<p>@ViewBag.klient.UcetNum</p>
