@{
    ViewData["Title"] = "LoginFromEmail";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Byl Vám odeslán ověřovací email, pro zobrazení Vaší domovské stránky, rozklikněte link v emailu</h4>
        </p>
    </div>
</div>