﻿@{
    ViewData["Title"] = "Login";
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}
<div class="row">

    <div class="col-md-6 offset-3">
        <p>
            <h4>Přihlašte se</h4>
        </p>
    </div>
    <form method="post" enctype="multipart/form-data" asp-controller="Authenticate" asp-action="Login">
        <p>
            <input type="text" name="username" value="" placeholder="Email" required></input>
        </p>
        <p>
            <input type="password" name="password" value="" placeholder="Password" required></input>
        </p>
        <p class="submit">
            <input type="submit" name="submit" value="Login"></input>
        </p>
    </form>
</div>